<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="body-grid">
    <%- include('../components/side-navbar') %>
    <main id="home-page">
        <h1 class="mb-4">Home</h1>
        <section id="grafica-gastos" class="mb-4">
            <h2>23/02/2023</h2>
            <div class="controls">
                <div class="controls__button">
                    <button class="btn btn-primary">&lt;</button>
                </div>
                <div class="controls__chart">
                    <canvas id="myChart"></canvas>
                    <button class="btn btn--circle btn-primary"> + </button>
                </div>
                <div class="controls__button">
                    <button class="btn btn-primary">&gt;</button>
                </div>
            </div>
        </section>
        <section id="lista-gastos">
            <h2>Movimientos</h2>
            <ul>
                <% transactions.forEach(({description, type, mount}) => { %>

                    <li class="row">
                        <div class="col-8"><%= description %></div>
                        <div class="col-4">
                            <% if (type === 'INCOME') { %>
                                <span class="badge bg-success">+ $<%= mount %></span>
                            <% } else if (type === 'EXPENSE') { %>
                                <span class="badge bg-danger">- $<%= mount %></span>
                            <% } %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </section>
        <%- include('../partials/foot') %>
    </main>

    <script>
        var chartData = <%- JSON.stringify(doughnutChartConfig) %>;
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, chartData)
    </script>
    <script src="/js/utils/charts.js"></script>
    <script src="/js/pages/home.js"></script>
</body>
</html>

