<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="body-grid">
    <%- include('../components/side-navbar', {user}) %>
    <main id="home-page">
        <h1 class="mb-4">Home</h1>
        <section id="grafica-gastos" class="mb-4">
            <h2><%= fecha %></h2>
            <div class="controls">
                <div class="controls__button">
                    <button class="btn btn-primary">&lt;</button>
                </div>
                <div class="controls__chart">
                    <canvas id="myChart"></canvas>
                    <button type="button" class="btn btn--circle btn-primary" data-bs-toggle="modal" data-bs-target="#createTransactionModal"> + </button>
                </div>
                <div class="controls__button">
                    <button class="btn btn-primary">&gt;</button>
                </div>
            </div>
        </section>
        <section id="lista-gastos">
            <h2>Movimientos</h2>
            <ul>
                <% transactions.forEach(({id, description, type, mount}) => { %>
                    <%- include('../components/transaction-item', {id, description, type, mount}) %>
                <% }) %>
            </ul>
        </section>


        <!-- MODALS -->
        <!-- Create transaction -->
        <div class="modal fade" id="createTransactionModal" tabindex="-1" aria-labelledby="createTransactionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createTransactionModalLabel">Nuevo movimiento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <form action="/" method="post" id="createTransactionForm">
                        <div class="form-group mb-3">
                            <label class="label" for="name">Descripción</label>
                            <input
                                type="text"
                                class="form-control"
                                name="description"
                                placeholder="Username"
                                required
                            />
                        </div>
                        <div class="form-group mb-3">
                            <label class="label" for="name">Cantidad</label>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="type" id="type-income" value="INCOME">
                                    <label class="form-check-label" for="type-income">
                                        Ingreso
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="type" id="type-expense" value="EXPENSE">
                                    <label class="form-check-label" for="type-expense">
                                        Gasto
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="label" for="name">Cantidad</label>
                            <div class="input-group mb-3>
                                <span class="input-group-text">$</span>
                            <input type="number" class="form-control" name="mount" aria-label="Amount of transaction">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="createTransactionForm">Save changes</button>
                </div>
                </div>
            </div>
        </div>


        <%- include('../partials/foot') %>
    </main>
    
    <script src="/js/utils/charts.js"></script>
    <script src="/js/pages/home.js"></script>

    <script>
        $(document).ready(function() {
            var transactions = <%- JSON.stringify(transactions) %>;
            
            var homeController = new HomeView(transactions); //? This class comes from home.js
    
            $(".transaction-item__delete").click(function() {
                // Acciones a realizar cuando se hace clic en un botón
                var buttonId = $(this).data("id");
                homeController.DeleteTransaction(buttonId);
            });
        });

    </script>
</body>
</html>

